.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form .navbar-brand{
	border-color:#00CC33;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
	color:#00CC33;
	background-color: transparent;
}

@navbar-default-color{
	color: #f8f8f8;
}

.navbar-header{
  background-image: url('../images/aust.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  width: 300px;
  height: 100px;
  padding-top: 20px;
}

.openPic{
background-image: url("../images/header2.jpg");
background-repeat: no-repeat;
width: 1100px; /*or your image's width*/
height: 400px; /*or your image's height*/
display: block;
margin: 0 auto;
margin-top: 70px;
/*margin-left: auto;
margin-right: auto;*/
}

.intro{
  text-align: center;
}

.navbar-default .navbar-nav>li>a
{
	font-size: large;
	padding-top: 35px;
}

.col-md-offset-2{
  margin-left: 10%;
}

.col-sm-3a{
  width: 400px;
  height: 400px;
}

.col-sm-3b{
  width: 400px;
  height: 400px;
}

.col-sm-3c{
  width: 800px;
  height: 300px;
}

.btn-purple{
    background-color: purple;
}
