/*
A custom Bootstrap 3.1 theme from http://bootply.com\

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/
body {
 padding-top:70px;
}

.productsrow {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;
}
  
.menu-category {
 display: inline-block;
 margin-bottom:  0.25rem;
 padding:  1rem;
 /*padding:none;*/
 width:  50%; 
}

.product-image {
 width: 100%;
 /*border:none;*/
}

.product {
 padding-top:22px;  
}

.btn-product {
 background-color:#222;
 color:#eee;
 border-radius:0;
}

.yellow {
 color:yellow;
 text-shadow:#ccc 1px 1px 0;
}


.img-responsive{
margin: 0 auto;	
width:100%;
height:100%;
}

i.list-group-item{
position: absolute;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
color: #000;
}

/*.menu-category-name{
border: 1px solid #cc3;
}*/

/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}*/
/*
.test{
left:-15px;	
}*/
/* end custom CSS */