/*
A custom Bootstrap 3.1 theme from http://bootply.com\

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

body {
 padding-top:70px;
}

.productsrow {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;
}
  
.menu-category {
 display: inline-block;
 margin-bottom:  0.25rem;
 padding:  1rem;
 width:  100%; 
}

.product-image {
 width: 100%;
}

.product {
 padding-top:22px;  
}

.btn-product {
 background-color:#222;
 color:#eee;
 border-radius:0;
}

.yellow {
 color:yellow;
 text-shadow:#ccc 1px 1px 0;
}

.btn-warning {
margin: 0 auto;
}

.list-group-item.active{
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #fff;
color: #000;
border-color: #ddd;
}

.font{
font-size: 11px;
font-style: Helvetica Neue;
color: #66757f;
}

.font2{
font-size: 13px;
font-style: Helvetica Neue;
color: #66757f;
}

.modal_head{
background-color: #428bca;
color: #fff;
}

.nav_col{
width:13%;
}

.col_2{
width: 30%;	
}

.col_3{
width: 50%;	
}

.col_4{
width: 10%;	
}

/*.valgroup{
stroke:#000;
}*/

.tstyle{
display: inline;
}

.axis{
fill: none;	
stroke: black;
shape-rendering: crispEdges;
font-size: 8px;
font-family: Helvetica Neue;

}
/*.glyphicon {
   font-family:'Glyphicons Halflings';
   // more css comes along here
}*/

/*.product-image{
width: 150px;
}*/

.btn-purple{
    background-color: purple;
}
/* end custom CSS */
